body {
  background-color: #f4f5f6;
  font-family: "Roboto Condensed", sans-serif;
  padding:0 8rem;
}

.container-fluid {
  /* background-color: #f3f3f3; */
  margin-bottom: 0.5rem;
  
  
}

.column {
  /* background-color: aquamarine; */
  height: 15rem;
  margin-top: 0.5rem;
}



/* links */

.p-2 a:hover {
  color: #f72210;
  text-decoration: none;
}

.link-1 {
  color: white;
  display: inline-block;
  font: bold;
  font-family: sans-serif;
  padding: 6px 3px;
  text-transform: uppercase;
}

.link-2 {
  background-color: #f3f3f3;
  color: #f72210;
  display: inline-block;
  font: bold;
  font-family: sans-serif;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  padding: 6px 3px;
}

.link-2:hover {
  color: #f72210;
  text-decoration: none;
}

.media-title a:hover {
  color: #f72210;
  text-decoration: none;
}

.link-title a {
  font-family: "Roboto Condensed", sans-serif;
  font-size:22px;
  font-weight: bold;
  line-height: 24px;
  color: black;
}

.link-title a:hover {
  color: black;
  text-decoration: #f72210;
}


.date {
  font: 10.6px "Roboto Condensed", sans-serif;
  color: white;
}

.mb-3 {
  background-color: #f72210;
}

.flex-small-6 {
  width: 50%;
}

.col-1 {
  /* background-color:brown; */
  margin-left: 1rem;
  margin-top: 2.8rem;
}

.col-2 {
  /* background-color: violet; */
  margin-top: 2.8rem;
}

.col-6 {
  /* background-color: aquamarine; */
  text-align: center;
  margin-top: 1rem;
}

.col-6 h1 {
  color: #f3f3f3;
  font-size: 4rem;
}

.d-md-flex {
  /* background-color: teal;  */
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

li:last-child {
  border-right: none;
}

li:nth-child(8) {
  border-right: none;
  width: auto;
  text-align: center;
}

input {
  border: none;
  width: 50%;
  margin-bottom: 5rem;
}

.material-icons {
  font-size: 3rem;
  border-right: none;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
}

.p-2 {
  border-right: 1px solid black;
  text-align: center;
  width: 11.11%;
}

.p-2 a {
  text-decoration: none;
  color: inherit;
}

/* featured stories columns */

.flex-column {
  background-color: teal;
  margin-right: 10rem;
  width: 33.3%;
}

.title h1 {
  color: rgba(3, 3, 3, .4);
  font-size: 1rem;
}

.media-title a {
  font-size: 17px;
  color: #f72210;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, .9);
}

.image a {
  height: 39rem;
  width: 26rem;
}

h3 {
  margin-bottom: 5rem;
  position: relative;
}

/* main section */

.middle-img{
  height:364px;
  width:550px;
}

#middle {
   /* background-color: aqua;  */
  height: 100%;
  /* margin:0 15px;
  padding:0 1px; */
}

.mid {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;  
  padding: 1rem 0;
  justify-content: space-evenly;
  
}

.col-sm-auto {
  width: 135px;
  height: 90px;
  
}
.block-title{
  color:rgba(3,3,3,.4);
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight:bold;
 
}
.block-title-2{
  color:rgba(3,3,3,.4);
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight:bold; 
     
}

.by-line{
  font-size: 14px;
  line-height: 21px;
  color: #555;
  text-transform: uppercase;
  margin-top: 4px;
}
.info{
  /* background-color: #f72210; */
  margin-right: 0.5rem;
  
}
.info a{
  color:inherit;
  text-decoration: none;
  font-weight: bold;
  

}
.info a:hover{
  color:#f72210;
  text-decoration: none;
}
.below-summary:nth-child(3){
 border-bottom:none;
}
.below-links{
  border-top: 1px solid #d9d9d9;
  padding: 0.5rem 0;
  
}
.below-links a{
  color:black;
  font-weight:bold;
  text-decoration: none;
}
/* right-column */
.col-3-auto{
   /* background-color: violet;  */
  height:100%;
  
  
}
.circle-img{
  /* background-color:tomato ; */
  margin-left:2px;
 
}

.last-row{
  /* background-color: #f72210; */
  border-bottom: none;
}
.latest-news-img{
 width:135px;
 height:90px;

}
/* bottom-section */
.bottom-sec-title{
  background-color: aquamarine;
  margin-left:20.5rem;
  padding:1px;
  margin-top:1rem;
}
.bottom-media{
  width:300px;
  height:311px;
 
}
.bottm{
 margin-left:1rem;
 
}
.bottm-title-1 a{
    padding: 0 7px;
    background-color: #f72210;
    color: white;
    /* margin-right: 7px; */
    margin: 2rem 0 0 0; 
}
.bottm-title-2{
 
  width:50%;
  position:relative;
  left:5.1rem;
  bottom:1.4rem;
  
}

.info h6{
  line-height:2rem;
  font-weight:bold;
  font-size:14px;
  
}
.editors-pick-media{
  height:234px;
  width:320px;
}

/* slideshow */
.col-4-auto{
  margin-right:2rem;
}
 .row{
  justify-content: space-around;
  
} 

/* below slideshow */
.info-title {
 
  position:relative;
  left:8.7rem;
  bottom:5rem;
  
}
/* subscribe section */
.lk-button{
  background-color: #f72210;
  padding: 10px 10px 10px 12px;
  width:30%;
  text-align: center;
}
.lk-button a{
  color:#fff;
  font-size: 1.3rem;
}
.block-title-red{
  color: #f72210;
}
/* footer section */
.footer-row{
  border-bottom:1px solid #d9d9d9; 
  border-top:1px solid #d9d9d9;
  margin-top: 2rem ;


}
.ftr{
  /* background-color: #555; */
  display:inline-flex;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  position:relative;
  right:20rem;
  
}
.ftr p{
  /* background-color:aquamarine; */
  margin-left:2rem;
}
.ftr a{
  color: #f72210;
  font-size:4rem;

}
.copyright{
  margin-top: 3.5rem;
}
.social-links{
  
  position:relative;
  left:20rem;
  display:inline-flex;

}
.social-links li{
  margin-right: 1rem;
}
.fab{
  font-size:1.7rem;
  color:#515A5A  ;
}
.footer-links{
  
  display: flex;
  flex-wrap: wrap;
 
  
}
.row-menu{
  display:flex;
  flex-flow:row wrap;
}
.footer-menu{
  display:flex;
  flex-flow:row wrap;
  width: 50%; 
  justify-content: space-around; 
}
#menu{
  /* background-color: aquamarine; */
  margin-top: 2rem;
  margin-left:1rem;
}
.footer-menu li{
  border-right: 1px solid #d9d9d9;
  padding-right: 10px;
  margin-right: 10px;
}
.footer-links a{
  padding-top: 6px;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #666;
}
.editions{
  
  position:relative;
  left:24rem;
  bottom:5rem;
}
#editions{
  position:relative;
  left:4rem;
  bottom:2rem;
  margin-left: 0.5rem;
}