body{
  font-family:"Roboto Condensed",sans-serif;
  height:100%;
}


/* common-classes */
.summary{
 columns: #333333;
 font-family: Arial, Helvetica, sans-serif;
 font-size:15px;

}
.link-title a{
  color: #000000;
  font-size:24px;
  font-weight: bold;
}


/* top-section */
.top-header{
  background-color: #f72210;
  
}
.p-2,.link-1{
  color:#fff;
}
.middle-title{
  font-size: 3rem;
  font-weight: bold;
}
.link-2{
  background-color: #fff;
  color:#f72210;
  font-weight: bold;
}
/* mobile screen */
@media (max-width: 576px) { 
  .date{
    display:none;
  }
  #nav-menu{
    display: none;
  }
  .category a,.bottm-title-1 a {
    display:none;
  }
  .right-side-img,.link-title,.summary,.left-side-img{
    margin-left:5rem;
  }
  .middle-img,.sign-up-title,.lk-1,.lk-2,.top-title a{
    margin-left:2rem;
  }
  .info a,.bottm-title-2 a {
    margin-left: 7rem;
  }
  .heading a{
    margin-left:4rem
  }
  .description{
    
    position: relative;
    right:4rem;
    width: 100%;
  }
  .block-title{
    margin-left:6rem;
  }
  .spon-sum{
    position: relative;
    right:3rem;
  }
  .mag-image,.bottom-media {
    margin-left:7rem;
  }
  .editor-media{
    margin-left: 3rem;
  }
  .sec-img{
    margin-left:2rem;
  }
  .slide-heading{
    margin-left:2rem;
  }
  .subscribe-info{
    margin-top:1.5rem;
  }
  .subscribe-img{
    margin-left: 4.5rem;
  }
  .subscribe-img2{
    margin-left:7.5rem;
  }
  .topic{
    margin-left:4rem;
    margin-top: 1rem; 
  }
  .daily,.sub-p{
    margin-left: 6rem;
    
  }
  .footer-menu,.ftr a{
    margin-left: 4rem;
  }
  .img,.header a{
    margin-left: 2rem;
  }
  .block-title{
    margin-left: 10rem;
  }
  .latest-img{
    margin-left: 2rem;
  }
  .by-line{
    margin-left:7rem;
  }
  
 }
@media(max-width:1020px){
  #nav-menu{
    display:none;
  }
  .category a{
    display: none;
  }
  .mag-title{
    position:relative;
    right:27rem;
  }
  .block-title{
    margin-top:3rem;
    margin-left:20rem;
  }
  .left-side-img{
    margin:0 auto;
    
  }
}
 
/* nav-bar */
.navbar{
  
  margin:0 auto;
  height:60px;
  margin-left:1rem;
  margin-right: 1rem;
}
.navbar-nav{
  margin:0 auto;
}
.nav-link{
  color:black;
  font-size:18px;
  font-weight: bold;
  
}
.nav-item{
  border-left:1px solid #666;
}
input{
  /* background-color: aqua; */
  width:8%;
  
}
.material-icons{
  position:relative;
  top:1.2rem;
}
/* main-section */

/* left-column */
.block-title{
  color:#A4A5A5;
  font-weight: bold;
}

.right-side-img{
  width:325px;
  height:206px;
}

.category{
  background-color:#f4f5f6;
  display:inline;
  padding:3px;
}
.category a{
  color:#f72210;
  font-size:18px;
  text-transform: uppercase;
}


/* middle-column */
.middle-img{
  width:403px;
  height:248px;
}
.info a{
 color: black;
 font-weight:bold;
}
.by-line{
  color: #555;
  font-size: 14px;
  font-weight:bold;
  line-height: 21px;
  margin-top: 2px; 
  text-transform: uppercase;
    
}
.top-title a{
  color:#000000;
  font-size:19px;
  font-weight: bold;
}
.more-img{
  width:98px;
  height:98px
}

  
.title a{
  color:#000000;
  font-size:16px;
  font-weight: bold;  
}
.title p{
  columns: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size:13px;
}

/* right */
.latest-img{
  height:90px;
  width: 100px;

}

/* left */
.left-side-img{
  width:300px;
  height:206px;
}
/* below */
.sign-up-sec{
  background-color: #f4f5f6;
}
.sign-up-title{
  font-size:19px;
  font-weight: bold;
  margin-bottom:10px;
  text-transform: uppercase;
}
.lk-1{
  color:#fff;
  background-color: #666;
  font-size:18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding:4px 10px 4px 12px;
}
.lk-2{
  color:#333;
  font-size:15px;
  font-weight:bold;
  margin-right:2rem; 
}


/* in the magazine section */
.mag-image{
  height:300px;
  width:270px;
}
.bottom-media{
  height:300px;
  width:270px;
  
}
.bottm-title-1{
  background-color: #f72210;
  display: inline-block;
  margin-top:0.2rem;
  padding:2px;;
}
.bottm-title-1 a{
  color:#fff;
}
.heading,.slide-heading{
  margin-bottom:1.5rem;
  line-height:18px;
}
.heading a,.slide-heading a{
  color:black;
  font-size:17px;
  font-weight: bold;
  
}

/* editor's section */
.editor-heading{
  margin-bottom:1.5rem;
  line-height:18px;
}
.editor-heading a{
  color:black;
  font-size:17px;
  font-weight: bold;
  
}
.editor-media{
  height:300px;
  width:270px;
}
.sec-title{
  display:flex;
  justify-content: center;
}

.editor-img{
  height:150px;
  width:230px;
}

/* featured slideshow */


.slideshow-img{
  height: 232px;
  width:398px;
}

/* below slideshow */
.sec-img{
  height: 232px;
  width:360px;
}
 /* u.s */
 .img{
   height:80px;
   width:125px;
 }
 .header a{
  color:black;
  font-size:15px;
  font-weight: bold;
  line-height: 10px;
 }
 .topic{
   color:#f72210;
   font-size:22px;
 }

 /* subscribe section */
 .subscribe-img{
   height:228px;
   width:170px;
 }
 .img-2{
  position: absolute;
  right:1rem;
  top:1rem;
 }
 @media (max-width:720px){
  .img-2{
    position: absolute;
    left:2rem;
    top:1rem;
   }
 }
 .subscribe-info{
  display:inline-block;
  margin-left:25px;
  line-height:28px;
 }
 .subscribe-info a {
   color:black;
   font-size:20px;
  font-weight: bold;
  
 }
 .paragraph{
   font-family:Arial, Helvetica, sans-serif;
   font-size:16px;
   font-weight:300;
   margin-bottom:25px;
   padding-left: 30px;

 }
 .lk-button{
  background-color: #f72210;
  display: inline-block;
  margin-left: 2rem;
  padding: 10px 10px 10px 12px;
  text-align: center;
 }
 .lk-button a{
   color:#fff;
   font-size: 18px;
   font-weight: bold;
}
.subscribe-row{
  background-color: #f4f5f6;
  padding: 28px 26px 64px;
}
.subscribe-img2{
  height:273px;
  width:180px;
}
.sign-in{
  margin-left: 8rem;
}

.para{
  margin-left: 1.6rem;
  margin-bottom: 2rem;
}

.column{
  margin-bottom: 5rem;
}

/* footer */
.ftr{
  margin-top:1rem;
}
.ftr a{
  color:#f72210;
  font-size:3rem;
  font-weight: bold;

}
.copyright{
  display: inline;
 
}
.social-links li{
  margin-left:1rem;
}
.fab{
  color:#666;
  font-size:22px;
}
.social-media{
  margin-left:45rem; 
}
.footer-menu{
  display:flex;
  flex-wrap: wrap;
}
.footer-menu a{
  padding-top: 6px;
  font-size: 16px;
  line-height: 15px;
  color: #666;
}
.edition-menu{
  display:flex;
  flex-wrap: wrap;
  margin-left:4rem;
  margin-top:1rem;
  margin-right: 6rem;
  /* background-color:#333; */ 
}
.edition-menu a{
  padding-top: 6px;
  font-size: 16px;
  line-height: 15px;
  color: #666;
}
.edition-section{
  /* background-color: #f72210; */
  bottom:3.5rem;
  position: relative;
  left: 5rem;
 
  
}
.one{
  /* background-color: aqua; */
  margin-left:5rem;
}
