body{
  font-family:"Roboto Condensed",sans-serif;
  height:100%;
}


/* common-classes */
.summary{
 columns: #333333;
 font-family: Arial, Helvetica, sans-serif;
 font-size:15px;

}
.link-title a{
  color: #000000;
  font-size:24px;
  font-weight: bold;
}

/* top-section */
.top-header{
  background-color: #f72210;
  
}
.p-2,.link-1{
  color:#fff;
}
.middle-title{
  font-size: 3rem;
  font-weight: bold;
}
.link-2{
  background-color: #fff;
  color:#f72210;
  font-weight: bold;
}
@media (max-width: 576px) { 
  .date{
    display:none;
  }
 }
@media (max-width:992px){
  #collapse-target{
    display:none;
  }
}
.navbar-nav{
  justify-content: center;
}
input{
  background-color: aqua;
  width:8%;
}
/* main-section */

/* left-column */
.block-title{
  color:#A4A5A5;
  font-weight: bold;
}

.right-side-img{
  width:325px;
  height:206px;
}

.category{
  background-color:#f4f5f6;
  display:inline;
  padding:3px;
}
.category a{
  color:#f72210;
  font-size:18px;
  text-transform: uppercase;
}


/* middle-column */
.middle-img{
  width:403px;
  height:248px;
}
.info a{
 color: black;
 font-weight:bold;
}
.by-line{
  color: #555;
  font-size: 14px;
  font-weight:bold;
  line-height: 21px;
  margin-top: 2px; 
  text-transform: uppercase;
    
}
.top-title a{
  color:#000000;
  font-size:19px;
  font-weight: bold;
}
.more-img{
  width:98px;
  height:98px
}

  
.title a{
  color:#000000;
  font-size:16px;
  font-weight: bold;  
}
.title p{
  columns: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size:13px;
}

/* right */
.latest-img{
  height:90px;
  width: 100px;

}

/* left */
.left-side-img{
  width:300px;
  height:206px;
}
/* below */
.sign-up-sec{
  background-color: #f4f5f6;
}
.sign-up-title{
  font-size:19px;
  font-weight: bold;
  margin-bottom:10px;
  text-transform: uppercase;
}
.lk-1{
  color:#fff;
  background-color: #666;
  font-size:18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding:4px 10px 4px 12px;
}
.lk-2{
  color:#333;
  font-size:15px;
  font-weight:bold;
  margin-right:2rem; 
}


/* in the magazine section */
.mag-image{
  height:300px;
  width:270px;
}
.bottom-media{
  height:390px;
  width:270px;
  
}
.bottm-title-1{
  background-color: #f72210;
  display: inline-block;
  margin-top:0.2rem;
  padding:2px;;
}
.bottm-title-1 a{
  color:#fff;
}
.heading{
  margin-bottom:1.5rem;
  line-height:18px;
}
.heading a{
  color:black;
  font-size:17px;
  font-weight: bold;
  
}

/* editor's section */
.editor-img{
  height:150px;
  width:230px;
}

/* featured slideshow */
.slideshow-img{
  height: 232px;
  width:360px;
}

/* below slideshow */
.sec-img{
  height: 232px;
  width:360px;
}
 /* u.s */
 .img{
   height:80px;
   width:125px;
 }
 .header a{
  color:black;
  font-size:15px;
  font-weight: bold;
  line-height: 10px;
 }
 .topic{
   color:#f72210;
   font-size:22px;
 }

 /* subscribe section */
 .subscribe-img{
   height:228px;
   width:170px;
 }
 .img-2{
  position: absolute;
  right:1rem;
  top:1rem;
 }
 @media (max-width:720px){
  .img-2{
    position: absolute;
    left:2rem;
    top:1rem;
   }
 }
 .subscribe-info{
  display:inline-block;
  margin-left:25px;
  line-height:28px;
 }
 .subscribe-info a {
   color:black;
   font-size:20px;
  font-weight: bold;
  
 }
 .paragraph{
   font-family:Arial, Helvetica, sans-serif;
   font-size:16px;
   font-weight:300;
   margin-bottom:25px;
   padding-left: 30px;

 }
 .lk-button{
  background-color: #f72210;
  display: inline-block;
  margin-left: 2rem;
  padding: 10px 10px 10px 12px;
  text-align: center;
 }
 .lk-button a{
   color:#fff;
   font-size: 18px;
   font-weight: bold;
}
.subscribe-row{
  background-color: #f4f5f6;
  padding: 28px 26px 64px;
}
.subscribe-img2{
  height:273px;
  width:180px;
}
.sign-in{
  margin-left: 8rem;
}

.para{
  margin-left: 1.6rem;
  margin-bottom: 2rem;
}

.column{
  margin-bottom: 5rem;
}

/* footer */
.ftr{
  margin-top:1rem;
}
.ftr a{
  color:#f72210;
  font-size:3rem;
  font-weight: bold;

}
.copyright{
  display: inline;
 
}
.social-links li{
  margin-left:1rem;
}
.fab{
  color:#666;
  font-size:22px;
}
.social-media{
  margin-left:55rem;
  

  
}
.footer-menu{
  display:flex;
  flex-wrap: wrap;
}
.footer-menu a{
  padding-top: 6px;
    font-size: 16px;
    line-height: 15px;
    color: #666;
}